.level-tips{
    background-color: #fff;
    margin-top: rem(10);
    padding: rem(30) rem(34) rem(40);
    h2{
        font-size: rem(30);
        color: #333;
        margin: rem(20) 0;
        font-weight: 200;
        display: table;
    }
    p{
        font-size: rem(24);
        color: #666;
        margin-bottom: rem(15);
        font-weight: 200;
        display: table;
        height: 100%;
    }
}