/* common */
@import "../../common";
@import "../../common/nav/_nav";
@import "../../../fonts/iconfont.css";
@import "../../common/dialog/dialog";
.dialog .d-pop{
  -moz-transform:scale(1.2);    -o-transform:scale(1.2);    -ms-transform:scale(1.2);transform:scale(1.2);
}
/* modules */
html,body{
    background: #f2f2f2;
}
img{
    max-width:100%;
    border:none;
    vertical-align:middle;
}
.page-view{
  overflow: hidden;
  width: rem(640);
  margin: 0 auto;
  .page-view-body {
    font-family: "Microsoft YaHei", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Helvetica, Arial, sans-serif;
    background: url("http://s1.bbgstatic.com/gshop/images/topic/prize_bg.png") center top;
    background-size:100% auto;
    height: rem(1136);
    .fl-bn-ad{
      padding-top: rem(294);
      text-align: center;
    }
  }
}


