.level-tips{
    background-color: #fff;
    margin-top: rem(10);
    padding: rem(34);
    h2{
        font-size: rem(30);
        color: #333;
        margin: rem(20) 0 rem(30);
    }
    p{
        font-size: rem(18);
        color: #666;
        margin-bottom: rem(15);
        font-family: '宋体';
    }
}