<script id="jPriceTmpl" type="text/html">
    <div class="mod-price">
        <div class="bd">
            <div class="item clearfix"><i class="b-l">商品总计</i><span class="b-r txt-red">￥<%= totalPrice%></span></div>
            <div class="item clearfix"><i class="b-l">税费总计</i><span class="b-r txt-red">￥<%= totalTaxPrice%></span></div>
            <div class="item clearfix"><i class="b-l">运费总计</i><span class="b-r txt-red">￥<%= totalFreight%></span></div>
			<div class="item clearfix"><i class="b-l">优惠总计</i><span class="b-r txt-red">￥<span id="jShippingTotal"><%= totalPmt%></span></span></div>
        </div>
    </div>
</script>
