%promote-tag {

  background-image: inline-image('index/bg-umptags.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  position: absolute;
  z-index: 2;
  width: rem(80);
  height: rem(62);
  font-size: rem(26);
  color: #fff;
  line-height: rem(62);
  text-align: center;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
  }
  &.type-lines {
    padding-top: rem(2);
    line-height: rem(30);
    font-size: rem(18);
  }

  &.type-new-product {
    width: rem(80);
    height: rem(78);
    line-height: rem(78);
    background-image: inline-image('index/bg-umptags-new.png');
  }
}
