.tag-yushou {
  vertical-align: top;
  margin-right: rem(6);
  display: inline-block;
  text-align: center;
  height: rem(28);
  width: rem(28);
  line-height: rem(28);
  background-color: #fc5681;
  color: #fff;
  border-radius: 4px;
  font-size: rem(22);
}
