@import "../../common-750";
@import "../../common/button/button";
@import "../trade/_trade";
html {
    color: #666666;
    background: #f0efed;
    // font-size: rem(26);
    .txt-red {
        color: #f03468;
    }
}

%checkbox {
    color: #999;
    border: 0px;
    border-radius: 0;
    width: auto;
    height: auto;
    border: none;
    background: none;
    &:after {
        font-size: rem(40);
        font-family: "iconglobal";
        content: "\e616";
    }
    &:checked {
        color: #f03468;
        &:after {
            content: "\e617";
        }
    }
    &:disabled {
        &:after {
            content: "\e615";
        }
    }
}

.page-view {
    // font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    .ui-header {
        background-color: #fff;
        border: 1px solid #e5e5e5;
        .ui-title {
            color: #333;
        }
        .icon {
            @extend .ui-title;
        }
    }
}

.mod-order {
    .wrap {

    }
}
//数据加载中...
.no-data {
    font-size: rem(26);
    padding: rem(20);
    text-align: center;
}
//生成公用的盒子样式
@mixin orderBox(){
    font-size: rem(28);
    margin-bottom: rem(20);
    .hd {
        border: 1px solid #cccccc;
        border-radius: rem(4) rem(4) 0px 0px;
        padding: rem(20);
        color: #666666;
        position: relative;
        .icon {
            font-size: rem(32);
            line-height: rem(32);
            position: absolute;
            top: rem(20);
            right: rem(10);
        }
    }
    .bd {
        background: #fff;
        color: #333333;
        border: 1px solid #cccccc;
        border-top :0px;
        // border-radius: 0px 0px rem(4) rem(4);
    }
}
//item 样式
@mixin orderItem(){
    .item {
        padding: rem(20);
        border-bottom: 1px solid #dad9d9;
        .txt {
            margin-top: rem(2);
            display: inline-block;
            vertical-align: middle;
        }
    }
}
@import 'source/address';//地址
@import 'source/ID-info';//身份证
@import 'source/payment';//支付方式
@import 'source/invoice';//发票
@import 'source/list';//列表
@import 'source/delivery';//配送方式
@import 'source/list_no_del';//不配送列表
@import 'source/discount-list';//已享受优惠券
@import 'source/coupon';//优惠券
@import 'source/price';//价格
@import 'source/submit';//提交
@import 'source/ztd';//提交

/* mod */
@import 'source/list/_list';//列表



