/* common */
@charset "utf-8";
@import "../../common-750";
//@import "../../common/button/button";
// @import "../../common/nav/_nav";
@import "../../common/go-top/mod-top";

$starDefClr: #9c9c9c;

$starSelClr: #fbe11f;

@mixin star-lv($starLength:0, $starClass:'.lv'){
    @for $i from 0 to $starLength {
        #{$starClass}#{$i+1} {
            color: $starSelClr;
        }
    }
}

.loading{
    background-color: #f8f8f8;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}
.comment-cnt{
    border-top: 1px solid #d5d5d5;
}
.evaluation {
    font-size: rem(26);
    background: #fff;
    border-bottom: 1px solid #d5d5d5;
    padding-top: rem(30);
    padding-left: rem(20);
    padding-bottom: rem(30);
    padding-right: rem(20);

    .avatar {
        float: left;
        width: rem(68);
        height: rem(68);
        border-radius: 50%;
        overflow: hidden;

        img {
            border-radius: 50%;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
    }
    .detail {
        margin-left: rem(80);

        .info {
            overflow: hidden;
            height: rem(28);
            line-height: rem(28);
            color: #666666;
            font-size: rem(24);

            .name {
                float: left;
            }
            .date {
                font-size: rem(20);
                float: right;
            }
        }
        .cnt {
            padding-top: rem(20);
            color: #333333;
            font-size: rem(28);
            line-height: rem(36);
            display: table-cell;
            height: auto;
            overflow: hidden;
        }

        .reply {
            position: relative;
            margin-top: rem(30);
            padding: rem(30) rem(20);
            color: #999;
            font-size: rem(24);
            line-height: rem(28*1.3);
            background-color: #fef6f8;
            border-radius: rem(8);
            p{
                display: table-cell;
                width: 100%;
                padding-top: rem(10);
            }
            strong{
                color: #666;
            }
            &:before{
                display: block;
                top: rem(-38);
                left: rem(20);
                content: '';
                position: absolute;
                border: rem(20) solid transparent;
                border-bottom-color: #fef6f8;
            }
        }

    }

    .hd {
        overflow: hidden;
        .left {
            float: left;
            .iconfont{
                font-size: rem(30);
                margin-right: rem(5);
                color: $starDefClr;
            }
            .star-1{
                @include star-lv(1);
            }
            .star-2{
                @include star-lv(2);
            }
            .star-3{
                @include star-lv(3);
            }
            .star-4{
                @include star-lv(4);
            }
            .star-5{
                @include star-lv(5);
            }
        }
        .right {
            float: right;
            font-size: rem(26);
            color: #a8a8a8;
        }
    }
    .bd {
        .nr {
            color: #333;
            font-size: rem(26);
            padding: rem(10) 0 rem(10) 0;
        }
        .time {
            color: #999;
            font-size: rem(28);
            text-align: right;
        }
    }
}
.evaluation-pl {
    margin: 0;
    padding: rem(30) 0;
    overflow: hidden;
    font-size: rem(26);
    line-height: rem(76);
    background-color: #fff;
    border-right: solid rem(15) #fff;
    border-left: solid rem(15) #fff;

    li {
        box-sizing: border-box;
        float: left;
        width: 25%;
        padding: 0 rem(5);
        line-height: rem(76);
        text-align: center;

        a {
            display: block;
            height: rem(64);
            padding: rem(8) 0;
            line-height: rem(32);
            font-size: rem(24);
            color: #333;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: rem(4);

            span{
                display: block;
            }
        }
        .hover {
            color: #f03468;
            border-color: #f03468;
            pointer-events: none;
        }
    }
}
.no-content {
    font-size: rem(26);
    text-align: center;
    padding-top: rem(200);
    color: #999;
    .icon {
        i{
            font-size: rem(150);
        }

    }
    .content {
        padding-top: rem(50);
    }
}

.icon-holder{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}
