/* ui-pop */

.ui-pop {
    background: #fff;
    border-radius: rem(10);
    width: rem(600);
    position: relative;
    .pop-close {
        width: rem(44);
        height: rem(44);
		text-align:center;
        line-height: rem(44);
        position: absolute;
        top: rem(20);
        right: rem(20);
		border:1px solid #f7f7f7; 
		border-radius:150%;
		&:after {
			display:inline-block;
			font-size: rem(30);
			color: #ccc;
			font-family:'iconglobal';
			content:'\e60f';
		}
    }
    .pop-hd {
        
    }
    .pop-bd {
       margin: rem(90) rem(40) rem(40);
       font-size:rem(30); 
	   line-height:rem(40);
	   text-align:center;
	   color:#666666;
    }
    .pop-ft {
        width: 90%;
        margin: 0px auto rem(50);
        .ui-button {
			@extend .ui-button-yun;
            border-radius: rem(10);
            margin-top: rem(30);
			font-size:rem(30);
			height:rem(90);
			line-height:rem(90);
        }
    }
}
