@import 'common/slider/slider';

.mod-slider {
  width: 100%;
  height: rem(310);
  .ui-slider {
    height: rem(310);

    .ui-slider-navigation {
      display: none;
    }
  }
  .ui-slider-slide {

    img {
      width: 100%;
      height: rem(310);
      font-size: 0;
    }
  }
  .ui-slider .ui-slider-pagination {
    li {
      display: inline-block;
      height: rem(24);
      margin-right: 5px;
      margin-left: 5px;

      a {
        margin-top: 2px;
        width: rem(14);
        height: rem(14);
        line-height: rem(20);
        float: left;
        background-color: #fff;
        opacity: 1;
        float: left;
        border-radius: 50%;
        border: 2px solid #FFF;

        &.active {
          margin-top: 0px;
          background-color: rgba(0, 0, 0, 0);
        }
      }
    }
  }
}
