.mod-addr {
	@include tap-highlight;
    // display: none;
    margin-bottom: rem(30);
    font-size: rem(28);
    line-height: rem(40);
    padding: rem(20) rem(16);
    background-color: #f8f8f8;
    border-bottom: 1px solid #e1dfe0;
    color: #333;
    overflow: hidden;
    .b-l {
        float: left;
    }
    .b-r {
        float: right;
    }
    .adr {
        font-size: rem(36);
        margin-right: rem(16);
    }
    .small {
        font-size: rem(28);
        color: #333;
        margin-left:rem(10); 
    }
    .icon, .text, .cont, .txt-ctn {
        display: inline-block;
        vertical-align: middle;
    }
    .txt-ctn {
        width: rem(430);
    }
}
